server {
    listen 80;
    server_name {{ domain.name }};

    location /.well-known/acme-challenge {
        root /etc/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ domain.name }}$request_uri? permanent;
    }
}
